<div class="dashboard-container">

  <div class="dashboard-inner-container">
    <div class="dashboard-getting-stared-wrapper">
      <app-sub-nav [navType]="'installation'"></app-sub-nav>
      <h1>Installation</h1>
      <p>Follow the instructions below or ask a colleague to help. lf you‘re using a third party platform (Wordpress. Squarespace. etc) there are instructions here.</p>
      <div class="getting-started-wrap-wrapper">
        <div class="slide-top-btns">
          <div class="row">
            <div class="col-sm-8">

            </div>
          </div>
        </div>
        <div class="pixel-install-section">
          <div class="step-inner-wrapper">
            <div class="step-inner-title">
              <h3>Pixel Install</h3>

            </div>

            <div class="pixel-install-script">
              <h5>1. Add this Code to The Header</h5>
              <p>Add it to every page of your site that you plan to track, capture or display on. (In
                most cases this will be every page of your site)</p>
            </div>
            <div class="pixel-install-script">
              <textarea id=".pixel-install-script textarea" #inputTarget>
                <script type="text/javascript" data-app-id="{{botData.id}}" src="http://service.allegra.ai/bot-script/bot.js" id=proof-script></script>
              </textarea>
              <button id="selectVal" [class.btn-info]= "isCopied" type="button" (click)="copyToClipboard()" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied = true">
                <span *ngIf="!isCopied"><i class="fa fa-copy" aria-hidden="true"></i>
                Copy To Clipboard</span>
                <span *ngIf="isCopied">Copied</span>
              </button>
            </div>
            <div class="install-success-wrap">
              <p>Congrats! Your pixel is sending data!</p>
              <span>Last pageview was tracked <strong>22 minutes ago</strong></span>
            </div>
            <div class="pixel-install-script">
              <h5>2. Wait for the data from your website.</h5>
              <p>A status message will appear above to let you know when we have detected your pixel.</p>
            </div>
            <div class="pixel-install-script">
              <h5>3. Still no data?</h5>
              <p>To make sure you installed your pixel correctly please watch pixel installation video and read the insulation article. Here are some common
                things to check. Feel tree to send us at emai at support@useproof.com or reach out in the chat if you're still running into trouble.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
