
<div class="dashboard-container">

  <div class="dashboard-inner-container dashboard-container-inner-new">
    <div class="reset-form-wrapper">
      <span>Your Chat Bot has been reset</span>
    </div>
    <div class="pro-mode-active-label">
      <span>Congratulations! You have successfully upgraded to pro mode.</span>
    </div>
    <div class="sub-nav-list">
    </div>
    <div class="dashboard-new-wrapper">
      <div class="dashboard-new-title-wrap">
        <h3>Create	A	New	Bot</h3>
        <div class="title-links">
          <a href="javascript:void(0)" data-toggle="pill" href="#capture" (click)="clearSearch()" class="reset-link" title="Reset Bot"><img src="assets/images/white-close-icon.png" alt=""></a>
          <a data-toggle="pill" href="#launch" class="launch-link"  class="launch" title="Launch Bot"><img src="assets/images/white-next-icon.png" alt=""></a>
        </div>
      </div>
      <div class="dashboard-new-steps-wrapper">
        <ul class="nav nav-pills dashboard-step-list" id="pills-tab" role="tablist">
          <li class="nav-item" xyz="abc">
            <a class="nav-link step-links active"  id="new-step1" data-toggle="pill" href="#capture" role="tab" aria-controls="capture" aria-selected="true">
              <strong>1</strong>
              <span>Your NLP</span>
            </a>
          </li>
          <li class="nav-item step-links">
            <a class="nav-link" id="new-step3" data-toggle="pill" href="#message" role="tab" aria-controls="message" aria-selected="true">
              <strong>2</strong>
              <span>Look &amp; Feel</span>
            </a>
          </li>
          <li class="nav-item step-links">
            <a class="nav-link" id="new-step4" data-toggle="pill" href="#customize" role="tab" aria-controls="customize" aria-selected="true">
              <strong>3</strong>
              <span>Modules</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="capture" role="tabpanel" aria-labelledby="new-step1">
            <div class="tab-content-wrap">
              <div class="row">
                <div class="col-lg-9">
             <!-- <div class="tab-pane" role="tabpanel" aria-labelledby="new-step5" >
                <div class="tab-content-wrap">
                  <div class="step-inner-wrapper">
                    <div class="step-inner-title">
                      <h3>Give this Project an internal name</h3>
                    </div>
                    <div class="full-width-input-fields full-width-input-fields-step4">
                      <p>Project Name
                        <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                        <b> The Project name that appears	during the chatbot conversation. Everyone who uses your chatbot will see this name.</b>
                      </p>
                      <div class="login-form-elements">
                        <label> Enter Project Name</label>
                        <input type="text">
                      </div>
                    </div>
                  </div>
                  <div class="error-msg-wrap">
                    <div class="error-message">
                      <span>Missing a Welcome	Message</span>
                      <button class="launchBtnBack errorBtn errorBtnStep1">Resolve</button>
                    </div>
                    <div class="error-message">
                      <span>Missing a Welcome	Message</span>
                      <button class="launchBtnBack errorBtn errorBtnStep2">Resolve</button>
                    </div>
                    <div class="error-message">
                      <span>Missing a Welcome	Message</span>
                      <button class="launchBtnBack errorBtn errorBtnStep3">Resolve</button>
                    </div>
                  </div>
                </div>


                <div class="next-button-wrap">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="blank-wrap">
                        <a data-toggle="pill" href="#customize" (click)="pro()" class="btnPrev launchBtnBack">Back</a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <button class="btnNext">
                        Launch
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>-->
              <div class="step-inner-wrapper">
                <div class="step-inner-title">
                  <h3>Tap On Your NLP Provider of Choice</h3>
                </div>
                <div class="webhook-list">
                  <ul>
                    <li class="active"><a href="javascript:void(0)"><img src="assets/images/dialogflow-logo.png" alt=""></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/images/witai-logo.png" alt=""><span>Coming Soon</span></a></li>
                    <li><a href="javascript:void(0)"><img src="assets/images/luisai-logo.png" alt=""><span>Coming Soon</span></a></li>
                  </ul>
                </div>
                <form>
                  <div class="full-width-input-fields">
                    <p>Enter Your NLP Server Token
                      <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    </p>
                  </div>
                  <div class="login-form-elements transate-left">
                    <label> Enter Server Token</label>
                    <input name="token" type="text"  [(ngModel)]="bot.token">
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="step-video-wrapper">
                <video class="video" loop autoplay>
                  <source src="assets/video/SampleVideo.mp4" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
              </div>
              </div>
            </div>
            <div class="next-button-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="blank-wrap"></div>
                </div>
                <div class="col-sm-6">
                  <button class="btnNext"  data-toggle="pill" href="#message" (click)="next()">
                    Next
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div  class="tab-pane" id="message" role="tabpanel" aria-labelledby="new-step3">
            <div class="tab-content-wrap message-wrapper">
              <div class="row">
                <div class="col-lg-9">
              <div class="step-inner-wrapper custom-margin-bottom">
                <div class="step-inner-title">
                  <h3>Give it a name</h3>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <p>Bot Name
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b> The name of this project. Only you	will see this.</b>
                  </p>
                  <div class="login-form-elements">
                    <label>Enter Your Bot Name</label>
                    <input name="name" type="text"  [(ngModel)]="bot.name">
                  </div>
                </div>

                <div class="full-width-input-fields">
                  <p> Chat Window Name
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b> The Chat Window Header Title. Everyone	will see this.</b>
                  </p>
                  <div class="login-form-elements">
                    <label> Enter A Chat Window Name</label>
                    <input name="chatWindowName" type="text" [(ngModel)]="bot.chat_window_name">
                  </div>
                </div>
              </div>
                </div>
                <div class="col-lg-3">
                  <div class="step-image-wrapper step-give-name-image">
                    <img src="assets/images/give-it-name.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9">
              <div class="step-inner-wrapper custom-margin-bottom">
                <div class="step-inner-title">
                  <h3>Chat Style</h3>
                </div>
                <div class="full-panel chat-style-latteral-tab">
                                        <span>Latteral Tab
                                        </span>

                   <mat-slide-toggle (change)="latteralToggle()" name="latteralTab" type="text" [(ngModel)]="bot.latteralTab" color="primary" style="float:right">
                     {{bot.latteralTab ? 'On' : 'Off'}}

                  </mat-slide-toggle>
                </div>
                <div class="full-panel chat-style-floating-icon">
                                        <span>Floating Icon
                                        </span>

                  <mat-slide-toggle (change)="floatingToggle()" name="floatingIcon" type="text" [(ngModel)]="bot.floatingIcon" color="primary" style="float: right">
                    {{bot.floatingIcon ? 'On' : 'Off'}}
                  </mat-slide-toggle>
                </div>
              </div>
                </div>
              <div class="col-lg-3">
                <div class="step-image-wrapper step-chat-style-image">
                  <img src="assets/images/chat-style.jpg" alt="">
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-lg-9">
              <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4">
                <div class="step-inner-title">
                  <h3>Chat Window	Customization</h3>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <p>Welcome	Message
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b> The Chat Window Welcome Message. Everyone will see	this.</b>
                  </p>
                  <div class="login-form-elements">
                    <label>Enter A Welcome	Message</label>
                    <input  name="initialGreeting" type="text" [(ngModel)]="bot.initial_greeting">
                  </div>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <p>Input Title
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b>The text that appears	in the chatbot	input text field.</b>
                  </p>
                  <div class="login-form-elements">
                    <label> Please	Enter An Input Text</label>
                    <input name="inputTitle" type="text" [(ngModel)]="bot.input_title">
                  </div>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <p>Input Waiting Text
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b>The	text that appears in chat window when your bot is waiting.</b>
                  </p>
                  <div class="login-form-elements">
                    <label>Please Enter A Waiting Text</label>
                    <input name="waitingMsg" type="text" [(ngModel)]="bot.waiting_msg">
                  </div>
                </div>
              </div>
                </div>
                <div class="col-lg-3">
                  <div class="step-image-wrapper step-chat-window-image">
                    <img src="assets/images/window-customization.jpg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9">
              <div class="step-inner-wrapper custom-margin-bottom">
                <div class="step-inner-title">
                  <h3>Appearance</h3>
                </div>
                <div class="full-panel full-panel-step2">
                                        <span>Upload Your Avatar Image
                                            <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b> Upload	a PNG or JPEG file</b>
                                        </span>
                  <div class="right-side-form">
                    <input type="file" id="files" class="uploadfiles" name="files[]" multiple />
                  </div>
                </div>
                <div class="full-panel full-panel-step2">
                                        <span>Upload Your	Cover Image
                                            <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b>Upload a PNG or JPEG file</b>
                                        </span>
                  <div class="right-side-form">
                    <form>
                      <input type="file" id="uploadfiles" class="uploadfiles" name="files[]" multiple />
                    </form>
                  </div>
                </div>
                <div class="full-panel full-panel-step2">
                                        <span> Choose the background color of chat tab/icon
                                            <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b>The tab/icon background	color seen by users</b>
                                        </span>
                  <div class="right-side-form color-pick-section">
                    <input type="color" name="color" [(ngModel)]="bot.color">
                    <span [ngStyle]="{'background': bot.color}">{{bot.color}}</span>
                  </div>
                </div>
                <div class="full-panel full-panel-step2">
                                        <span>Choose the font color ofthe	tab/icon.
                                            <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b>The tab/icon color seen by users</b>
                                        </span>
                  <div class="right-side-form color-pick-section">
                    <input type="color" name="fcolor" [(ngModel)]="bot.fcolor">
                    <span [ngStyle]="{'background': bot.fcolor}">{{bot.fcolor}}</span>
                  </div>
                </div>
              </div>
                </div>
                <div class="col-lg-3">
                  <div class="step-image-wrapper step-appearance-image">
                    <img src="assets/images/appearance-image.jpg" alt="">
                  </div>
                </div>
              </div>
              <!--<div class="step-inner-wrapper custom-margin-bottom">
                <div class="step-inner-title">
                  <h3>Language Settings</h3>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="db-form-elements">
                        <label>Translate "From"</label>
                        <input type="text" value="from">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="db-form-elements">
                        <label>Translate "Someone"</label>
                        <input type="text" value="Someone">
                      </div>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="next-button-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="blank-wrap">
                    <a data-toggle="pill" href="#capture"  (click)="next()" class="btnPrev">Back</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button class="btnNext" data-toggle="pill" href="#customize" (click)="next(); uploadFile();">
                    Next
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
         <!-- <div class="tab-pane" id="customize" role="tabpanel" aria-labelledby="new-step4">
            <div class="tab-content-wrap">
              <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4">
                <div class="step-inner-title full-panel-wrap step-inner-wrapepr-step4 custom-timing-wrap">
                  <h3>FAQ	Section<span>Pro</span></h3>
                  <mat-slide-toggle (change)="faqSectionToggle()" name="faqSection" type="text" [(ngModel)]="bot.faqSection" color="primary" style="float:right">
                 {{bot.faqSection ? 'On' : 'Off'}}
                  </mat-slide-toggle>
                <div class="visitor-count-wrap visitor-count-wrap2" *ngIf="faqShowHide">
                  <div class="full-panel">
                                            <span>Add	FAQ on Mobile to begin a conversation
                                            	<sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                <b class="">This initiates a chatbot conversation with a FAQ.</b>
                                            </span>
                    <mat-slide-toggle type="text" name="beginConversation"  [(ngModel)]="bot.beginConversation" color="primary" style="float:right">
                      {{bot.beginConversation ? 'On' : 'Off'}}
                    </mat-slide-toggle>
                  </div>
                  <div class="full-width-input-fields full-width-input-fields-step4">
                    <p> Add a FAQ	topic
                      <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                      <b>A General Topic for which you have FAQ</b>
                    </p>
                    <div class="login-form-elements">
                      <label>Enter a FAQ	Topic</label>
                      <input id="faq_top" type="text" name="faqTopic" [(ngModel)]="bot.faqTopic">
                    </div>
                  </div>
                  <div class="full-width-input-fields full-width-input-fields-step4">
                    <div class="login-form-elements btn-right-aligned">
                      <button id="faq_add" class="blue-btn" (click)="addFaqTopic()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                    </div>
                  </div>
                  <div id="sortable" class="full-width-input-fields display-add-faq-content final-add-res">
                  </div>
                </div>
              </div>
              <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4 custom-timing-wrap">
                <div class="custom-timing-btn-wrap" *ngIf="proHide">
                  <button (click)="this.showDialog = true" class="blue-btn toggle-custom-timing-section">Activiate Pro Active Mode</button>
                </div>
                <div class="step-inner-title">
                  <h3>Pro-Active Mode<span>Business</span></h3>
                  <mat-slide-toggle (change)="proActiveToggle()" name="proActive" type="text" [(ngModel)]="bot.proActive" color="primary" style="float:right">
                    {{bot.proActive ? 'On' : 'Off'}}
                  </mat-slide-toggle>
                </div>
                <div class="visitor-count-wrap visitor-count-wrap1"*ngIf="proActiveShowHide">
                  <div class="full-panel">
                                            <span>Open Chat Bot Window By	Default
                                            	<sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                <b class="">This opens the chat bot	window automatically and immediately.</b>
                                            </span>
                    <mat-slide-toggle type="text" name="chatBotWindow"  [(ngModel)]="bot.chatBotWindow" color="primary" style="float:right">
                      {{bot.chatBotWindow ? 'On' : 'Off'}}
                    </mat-slide-toggle>
                  </div>
                  <div class="full-width-input-fields full-width-input-fields-step4">
                    <p>Time to	Open Chat Window Automatically (Dwell time)
                      <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                      <b>The	amount of seconds it takes to open the chatbot window.</b>
                    </p>
                    <div class="login-form-elements">
                      <label>Enter seconds to trigger chatbot open.</label>
                      <input type="text">
                    </div>
                  </div>
                </div>
              </div>
              <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4 custom-timing-wrap">
                <div class="custom-timing-btn-wrap" *ngIf="proHide">
                  <button (click)="this.showDialog = true" class="blue-btn toggle-custom-timing-section">Activiate Pro Active Mode</button>
                </div>
                <div class="step-inner-title">
                  <h3>Live Chat <span>Pro</span></h3>
                  <mat-slide-toggle (change)="liveChatToggle()" name="liveChat" type="text" [(ngModel)]="bot.liveChat" color="primary" style="float:right">
                    {{bot.liveChat ? 'On' : 'Off'}}
                  </mat-slide-toggle>
                </div>
                <div class="visitor-count-wrap visitor-count-wrap3" *ngIf="liveChatShowHide">
                  <div class="full-panel">
                                            <span>Open Chat Bot Window By	Default
                                            	<sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                <b class="">This opens the chat bot	window automatically and immediately.</b>
                                            </span>
                    <mat-slide-toggle type="text" name="chatWindow"  [(ngModel)]="bot.chatWindow" color="primary" style="float:right">
                      {{bot.chatWindow ? 'On' : 'Off'}}
                    </mat-slide-toggle>
                  </div>
                  <div class="full-width-input-fields full-width-input-fields-step4">
                    <p>Time to	Open Chat Window Automatically (Dwell time)
                      <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                      <b>The	amount of seconds it takes to open the chatbot window.</b>
                    </p>
                    <div class="login-form-elements">
                      <label>Enter seconds to trigger chatbot open.</label>
                      <input type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="next-button-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="blank-wrap">
                    <a data-toggle="pill" href="#message"(click)="next()" class="btnPrev">Back</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button href="#launch" data-toggle="pill" (click)="save()" class="btnNext launchBtn">
                    Save
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" style="display: none" id="launch" role="tabpanel" aria-labelledby="new-step5">
            <div class="tab-content-wrap">
              <div class="step-inner-wrapper">
                <div class="step-inner-title">
                  <h3>Give this Project an internal name</h3>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <p>Project Name
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b> The Project name that appears	during the chatbot conversation. Everyone who uses your chatbot will see this name.</b>
                  </p>
                  <div class="login-form-elements">
                    <label> Enter Project Name</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="error-msg-wrap">
                <div class="error-message">
                  <span>Missing a Welcome	Message</span>
                  <button class="launchBtnBack errorBtn errorBtnStep1">Resolve</button>
                </div>
                <div class="error-message">
                  <span>Missing a Welcome	Message</span>
                  <button class="launchBtnBack errorBtn errorBtnStep2">Resolve</button>
                </div>
                <div class="error-message">
                  <span>Missing a Welcome	Message</span>
                  <button class="launchBtnBack errorBtn errorBtnStep3">Resolve</button>
                </div>
              </div>
            </div>


            <div class="next-button-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="blank-wrap">
                    <a (click)="next()" href="#customize" data-toggle="pill"  class="btnPrev launchBtnBack">Back</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button class="btnNext">
                    Launch
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>-->
          <div class="tab-pane" id="customize" role="tabpanel" aria-labelledby="new-step4">
            <div class="tab-content-wrap modules-page">
              <div class="row main-modules-wrap">
                <div class="col-lg-9">
                  <div class="step-inner-wrapper full-panel-wrap">
                    <div class="step-inner-title">
                      <h3>FAQ	Section<span>Pro</span></h3>
                      <mat-slide-toggle (change)="faqSectionToggle()" name="faqSection" type="text" [(ngModel)]="bot.faqSection" color="primary" style="float:left">
                    <!--    {{bot.faqSection ? 'On' : 'Off'}}-->
                      </mat-slide-toggle>
                     <!-- <div class="on-off-btn toggle-btn-on-off toggle-configure-on-off">
                        <span class="rounded-on-off-btn"></span>
                        <span class="on-off-text"></span>
                      </div>-->
                      <div class="configure-btn">
                        <button class="white-btn visitor-content-toggle">Configure</button>
                      </div>
                    </div>
                    <div class="step-inner-text-wrap">
                      <h4>Provide an easy to use FAQ menu</h4>
                      <p>It has been established truth that the reader will read anything written on the canvas as its in it nature. So lorem ipsum is used as a dummy text due to lack of original content.</p>
                      <ul>
                        <li>This is one super cool feature.</li>
                        <li>It can also do impressive things.</li>
                        <li>Finally it can do magic.</li>
                      </ul>
                    </div>
                    <div class="visitor-count-wrapper" *ngIf="showDiv">
                      <div class="visitor-count-wrap">
                        <h3>Add FAQs</h3>
                        <p>It has been established truth that the reader will read anything written on the canvas as its in it nature. So lorem ipsum is used as a dummy text due to lack of original content.</p>
                        <div class="close-visitor-count">
                          <span><i class="fa fa-close" aria-hidden="true"></i></span>
                        </div>
                        <div class="visiters-count-inner-wrap">
                          <div class="full-panel">
                                                        <span>Enable or Disable Feature
                                                            <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                            <b class="">This initiates a chatbot conversation with a FAQ.</b>
                                                        </span>
                            <div class="on-off-btn toggle-btn-on-off">
                              <span class="rounded-on-off-btn"></span>
                              <span class="on-off-text">Off</span>
                            </div>
                          </div>
                          <div class="full-width-input-fields full-width-input-fields-step4">
                            <!--<p> Add a FAQ	topic
                                <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                <b>A General Topic for which you have FAQ</b>
                            </p>-->
                            <div class="login-form-elements">
                              <!--<label>Enter a FAQ	Topic</label> -->
                              <input id="faq_top" type="text" placeholder="Enter a FAQ Topic">
                            </div>
                          </div>
                          <div class="full-width-input-fields full-width-input-fields-step4">
                            <div class="login-form-elements btn-right-aligned">
                              <button id="faq_add" class="blue-btn"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                            </div>
                          </div>
                          <div id="sortable" class="full-width-input-fields display-add-faq-content final-add-res">


                          </div>

                        </div>
                        <button class="blue-btn close-slide-btn">Done</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="step-video-wrapper">
                    <video class="video" loop autoplay>
                      <source src="assets/video/SampleVideo.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                  </div>
                </div>
              </div>
              <div class="row main-modules-wrap">
                <div class="col-lg-9">
                  <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4 custom-timing-wrap">
                    <div class="custom-timing-btn-wrap" *ngIf="proHide">
                      <button (click)="this.showDialog = true" class="blue-btn toggle-custom-timing-section">Activiate Pro Active Mode</button>
                    </div>
                    <div class="step-inner-title">
                      <h3>Pro-Active	Mode<span>Business</span></h3>
                      <mat-slide-toggle (change)="proActiveToggle()" name="proActive" type="text" [(ngModel)]="bot.proActive" color="primary" style="float:left">
                      <!--  {{bot.proActive ? 'On' : 'Off'}}-->
                      </mat-slide-toggle>
                      <!--<div class="on-off-btn toggle-btn-on-off toggle-configure-on-off">
                        <span class="rounded-on-off-btn"></span>
                        <span class="on-off-text"></span>
                      </div>-->
                      <div class="configure-btn">
                        <button class="white-btn visitor-content-toggle">Configure</button>
                      </div>
                    </div>
                    <div class="step-inner-text-wrap">
                      <h4>Provide an easy to use FAQ menu</h4>
                      <p>It has been established truth that the reader will read anything written on the canvas as its in it nature. So lorem ipsum is used as a dummy text due to lack of original content.</p>
                      <ul>
                        <li>This is one super cool feature.</li>
                        <li>It can also do impressive things.</li>
                        <li>Finally it can do magic.</li>
                      </ul>
                    </div>
                    <!--<div class="visitor-count-wrapper">
                      <div class="visitor-count-wrap">
                        <h3>Pro Active Mode</h3>
                        <p>It has been established truth that the reader will read anything written on the canvas as its in it nature. So lorem ipsum is used as a dummy text due to lack of original content.</p>
                        <div class="close-visitor-count">
                          <span><i class="fa fa-close" aria-hidden="true"></i></span>
                        </div>
                        <div class="visiters-count-inner-wrap">
                          <div class="full-panel">
                                                    <span>Pro Active Mode Desktop
                                                        <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                        <b class="">This opens the chat bot	window automatically and immediately.</b>
                                                    </span>
                            <div class="on-off-btn toggle-btn-on-off">
                              <span class="rounded-on-off-btn"></span>
                              <span class="on-off-text">Off</span>
                            </div>
                          </div>
                          <div class="full-panel">
                                                    <span>Pro Active Mode Mobile
                                                        <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                        <b class="">This opens the chat bot	window automatically and immediately.</b>
                                                    </span>
                            <div class="on-off-btn toggle-btn-on-off">
                              <span class="rounded-on-off-btn"></span>
                              <span class="on-off-text">Off</span>
                            </div>
                          </div>
                          <div class="full-panel">
                            <span>Pro Active Level</span>
                            <div class="progress-bar-wrap">
                              <div id="progress-bar"></div>
                              <span id="progress0"><strong>0</strong> <i>Lorem Ipsum Shit Amet</i></span>
                              <span id="progress1"><strong>1</strong><i>Lorem Ipsum Shit Amet</i></span>
                              <span id="progress2"><strong>2</strong><i>Lorem Ipsum Shit Amet</i></span>
                              <span id="progress3"><strong>3</strong><i>Lorem Ipsum Shit Amet</i></span>
                              <span id="progress4"><strong>4</strong><i>Lorem Ipsum Shit Amet</i></span>
                            </div>
                          </div>
                        </div>
                        <button class="blue-btn close-slide-btn">Done</button>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="step-video-wrapper">
                    <video class="video" loop autoplay>
                      <source src="assets/video/SampleVideo.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                  </div>
                </div>
              </div>
              <div class="row main-modules-wrap">
                <div class="col-lg-9">
                  <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4 custom-timing-wrap">
                    <div class="custom-timing-btn-wrap"*ngIf="proHide">
                      <button (click)="this.showDialog = true" class="blue-btn toggle-custom-timing-section">Activiate Pro Active Mode</button>
                    </div>
                    <div class="step-inner-title">
                      <h3>Live Chat <span>Pro</span></h3>
                      <mat-slide-toggle (change)="liveChatToggle()" name="liveChat" type="text" [(ngModel)]="bot.liveChat" color="primary" style="float:left">
                       <!-- {{bot.liveChat ? 'On' : 'Off'}}-->
                      </mat-slide-toggle>
                      <!--<div class="on-off-btn toggle-btn-on-off toggle-configure-on-off">
                        <span class="rounded-on-off-btn"></span>
                        <span class="on-off-text"></span>
                      </div>-->
                      <div class="configure-btn">
                        <button class="white-btn visitor-content-toggle">Configure</button>
                      </div>
                    </div>
                    <div class="step-inner-text-wrap">
                      <h4>Provide an easy to use FAQ menu</h4>
                      <p>It has been established truth that the reader will read anything written on the canvas as its in it nature. So lorem ipsum is used as a dummy text due to lack of original content.</p>
                      <ul>
                        <li>This is one super cool feature.</li>
                        <li>It can also do impressive things.</li>
                        <li>Finally it can do magic.</li>
                      </ul>
                    </div>
                    <!--<div class="visitor-count-wrapper">
                      <div class="visitor-count-wrap">
                        <h3>Live Chat</h3>
                        <p>It has been established truth that the reader will read anything written on the canvas as its in it nature. So lorem ipsum is used as a dummy text due to lack of original content.</p>
                        <div class="close-visitor-count">
                          <span><i class="fa fa-close" aria-hidden="true"></i></span>
                        </div>
                        <div class="visiters-count-inner-wrap">
                          <div class="full-panel">
                                                        <span>Open Chat Bot Window By	Default
                                                            <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                                            <b class="">This opens the chat bot	window automatically and immediately.</b>
                                                        </span>
                            <div class="on-off-btn toggle-btn-on-off">
                              <span class="rounded-on-off-btn"></span>
                              <span class="on-off-text"></span>
                            </div>
                          </div>
                          <div class="full-width-input-fields full-width-input-fields-step4">
                            <p>Time to	Open Chat Window Automatically (Dwell time)
                              <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                              <b>The	amount of seconds it takes to open the chatbot window.</b>
                            </p>
                            <div class="login-form-elements">
                              <label>Enter seconds to trigger chatbot open.</label>
                              <input type="text">
                            </div>
                          </div>
                        </div>
                        <button class="blue-btn close-slide-btn">Done</button>
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="step-video-wrapper">
                    <video class="video" loop autoplay>
                      <source src="assets/video/SampleVideo.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <div class="next-button-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="blank-wrap">
                    <a data-toggle="pill" href="#message" (click)="next()" class="btnPrev">Back</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button data-toggle="pill" href="#launch" class="btnNext launchBtn">
                    Save
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="launch" role="tabpanel" aria-labelledby="new-step5">
            <div class="tab-content-wrap">
              <div class="step-inner-wrapper">
                <div class="step-inner-title">
                  <h3>Give this Project an internal name</h3>
                </div>
                <div class="full-width-input-fields full-width-input-fields-step4">
                  <p>Project Name
                    <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                    <b> The Project name that appears	during the chatbot conversation. Everyone who uses your chatbot will see this name.</b>
                  </p>
                  <div class="login-form-elements">
                    <label> Enter Project Name</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="error-msg-wrap">
                <div class="error-message">
                  <span>Missing a Welcome	Message</span>
                  <button class="launchBtnBack errorBtn errorBtnStep1">Resolve</button>
                </div>
                <div class="error-message">
                  <span>Missing a Welcome	Message</span>
                  <button class="launchBtnBack errorBtn errorBtnStep2">Resolve</button>
                </div>
                <div class="error-message">
                  <span>Missing a Welcome	Message</span>
                  <button class="launchBtnBack errorBtn errorBtnStep3">Resolve</button>
                </div>
              </div>
            </div>


            <div class="next-button-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="blank-wrap">
                    <a data-toggle="pill" href="#customize" class="btnPrev launchBtnBack">Back</a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <button (click)="save()" class="btnNext">
                    Launch
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div  id="timing"  class="custom-timing-section" [class.active]="showDialog">
  <div class="custom-timing-container">
    <a href="javascript:void(0)" mat-mini-fab color="primary" (click)= "showDialog= false">x</a>
    <h2>Pro Active Mode</h2>
    <p>Sometimes notifications popup faster or slower than you'd prefer. With custom timing, you can speed them up, slow them down, or hold them on screen longer.</p>
    <p><strong>Upgrade to the BUSINESS plan for $129/mo to unlock Custom Timing, plus:</strong></p>
    <ul>
      <li>Priority Support</li>
      <li>50,000 Unique Monthly Visitors</li>
      <li>Unlimited Domains</li>

    </ul>
    <button (click)="openModal()" class="unlock-timing-toggle">
      <i class="fa fa-unlock" aria-hidden="true"></i>
      Activate Pro Active Mode
    </button>
  </div>
</div>
</div>
