.dashboard-inner-container {width:850px; margin:0 auto;}
.dashboard-new-wrapper {box-shadow: 0 5px 10px rgba(21,57,130,0.07), 0 0 0 1px rgba(0,0,0,0.05); overflow: hidden; border: 1px solid rgba(0,0,0,.1); border-radius:8px; background:#fff; position:relative;}
.dashboard-new-title-wrap {padding: 20px;background-color: #0095f7;border-top-left-radius: 8px;border-top-right-radius: 8px; text-align: center;position: relative;}
.dashboard-new-title-wrap .col-sm-6 {padding:0;}
.dashboard-new-title-wrap h3 {font-size: 20px;font-weight: 800; color:#fff; text-transform:none; margin:0;}

.dashboard-new-title-wrap .title-links {position:absolute; right:10px; top:18px;}
.dashboard-new-title-wrap .title-links a {width:30px; opacity:0.5; display:inline-block;border-radius:5px; margin-right:5px; height:30px; padding:1px 0 0;}
.dashboard-new-title-wrap .title-links a:hover {background:rgba(255,255,255,0.3);}
.dashboard-new-title-wrap .title-links a img {width:20px;}

.dashboard-new-wrapper .tab-content {margin:0;}

.right-side-form.color-pick-section{
    width: 235px;
    float: right;
    position: relative;
}
.right-side-form.color-pick-section input{
    width: 100%;
    height: 34px;
    opacity: 0;
    position: relative;
    z-index: 99;
}
.right-side-form.color-pick-section span{
    width: calc(100% + 2px);
    height: 36px;
    position: absolute;
    top: 0;
    left: -1px;
    padding: 7px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.15);
    text-transform: uppercase;
}
.mat-slide-toggle{
    line-height: 39px;
    margin: 7px;
}

div.fix-new-boot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 115px 0;
  max-width: inherit;
  background: #eee;
  height: 100vh;
  overflow-y: auto;
}

div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new {
  width: calc(100% - 20%) !important;
  float: none !important;
  margin: auto !important;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .next-button-wrap {
  background-color: #fff;
  padding: 10px;
  width: calc(100% - 17px);
  float: left;
  position: fixed;
  bottom: 0;
  left: 0;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .next-button-wrap .blank-wrap {
  background: #f7f8f9;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .dashboard-new-title-wrap span {
  position: absolute;
  left: 30px;
  color: #000;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .dashboard-new-title-wrap h3 {
  color: #000;
  text-transform: none;
  font-weight: 600;
  margin-bottom: 0px;
  padding-right: 50px;
  padding-left: 100px;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .dashboard-new-wrapper {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  background: none;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .dashboard-new-wrapper .dashboard-new-title-wrap{
  background: #fff;
  border-bottom: solid 1px #ddd;
  border-radius: 0;
}
div.fix-new-boot .dashboard-inner-container.dashboard-container-inner-new .dashboard-new-wrapper .dashboard-new-steps-wrapper{
  box-shadow: 0 5px 10px rgba(21,57,130,0.07), 0 0 0 1px rgba(0,0,0,0.05);
  overflow: hidden;
  float: left;
  border-radius: 0;
  background: #fff;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.bot-type-wrapper .quickstart-campaign-wrap {
  border: 1px solid #eeeeee;
  text-align: center;
  padding: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
  -ms-transition: 0.3s ease-in-out 0s;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(21,57,130,0.07);
  position: relative;
  margin: 0 0 30px;
}

.bot-type-padding-box {
  padding: 15px 20px;
}

.quickstart-campaign-wrap span.campaign-type {
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
}
.campaign-chebox-container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}
.campaign-chebox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.campaign-checkmark {
  position: absolute;
  top: -2px;
  left: 0px;
  height: 36px;
  width: 36px;
  background-color: #f5f6f9;
  border-radius: 50%;
  border: 1px solid #e3e4e5;
}
.quickstart-campaign-wrap img {
  margin: 0 0 20px;
}
.bot-type-wrapper .quickstart-campaign-wrap h3 {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  color: #556DFF;
  margin: 15px 0 0;
  padding: 0 0 10px !important;
}
.quickstart-campaign-wrap p {
  font-size: 20px;
  color: #97a6ad;
  margin: 0;
  padding: 0 !important;
}

.exitButton {
  cursor: pointer;
  font-weight: bold;
}

.quickstart-campaign-wrap.checkedbox {
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.40);
  border-color: rgba(0, 123, 255, 0.50);
}

.quickstart-campaign-wrap.checkedbox .customize-btn-wrapper {
  opacity: 1;
  visibility: visible;
  padding: 10px 15px;
  height: auto;
  display: none;
}

.campaign-chebox-container input:checked ~ .campaign-checkmark {
  background-color: #00dc71;
  border-color: #24c27a;
}
.campaign-checkmark {
  position: absolute;
  top: -2px;
  left: 0px;
  height: 36px;
  width: 36px;
  background-color: #f5f6f9;
  border-radius: 50%;
  border: 1px solid #e3e4e5;
}

.campaign-chebox-container input:checked ~ .campaign-checkmark:after {
  display: block;
}
.campaign-chebox-container .campaign-checkmark:after {
  left: 12px;
  top: 7px;
  width: 11px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.campaign-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
