.sub-header { width: 100%; float: left; background: #222934; position: fixed;
  z-index: 9999; top: 48px;
}
.login-user-name { width: auto; float: left; line-height: 48px; font-size: 18px; font-weight: 600; padding: 0 15px; color: #fff; position: relative;}
.login-user-name a{ color: #fff;}
.login-user-name:after {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 13px solid #222934;
}
.login-user-name:before {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 13px solid #fff;
}
.sub-header .type-bot { width: 120px; float: left; margin: 4px 0 0 50px;}
.sub-header .type-bot .mybot-menu-wrap { margin-bottom: 0;}
.sub-header .type-bot .mybot-menu-wrap.active, .sub-header .type-bot .mybot-menu-wrap:hover { background: none;}
.sub-header .bot-dropdown a.bot-name-link {
  margin: 0 0 -40px;
  float: left;
  width: auto;
  position: static;
  font-size: 13px;
}
.sub-header .bot-list-wrap.active { padding-bottom: 0;}
.sub-header .type-bot .mybot-menu-wrap ul { padding: 0;}
.sub-header .type-bot .mybot-menu-wrap ul li a { font-size: 13px;}
