
<div class="dashboard-container">

  <div class="dashboard-inner-container">
    <div class="dashboard-getting-stared-wrapper">
      <app-sub-nav [navType]="'lookFeel'"></app-sub-nav>
      <h1>Look &amp; Feel</h1>
      <p>Lorem ipsum dummy text.</p>
      <div class="getting-started-wrap-wrapper">
        <div class="slide-top-btns">
          <div class="row">
            <div class="col-sm-8">

              <!--<a href="new.html" class="blue-btn"><i class="fa fa-edit" aria-hidden="true"></i><span>Edit Bot</span></a> -->
            </div>
          </div>
        </div>
        <div class="step-inner-wrapper custom-margin-bottom">
          <div class="step-inner-title">
            <h3>Give it a name</h3>
          </div>
          <div class="full-width-input-fields full-width-input-fields-step4">
            <p>Operator Name
              <sup><i (mouseover)="showBotName= true" (mouseout)="showBotName= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
              <b [class.show]="showBotName"> The name of this project. Only you	will see this.</b>
            </p>
            <div class="login-form-elements">
              <label>Enter Your Operator Name</label>
              <input type="text" name="name" [(ngModel)]="botData.operator_name">
            </div>
          </div>

          <div class="full-width-input-fields">
            <p> Chat Window Name
              <sup><i (mouseover)="showChatName= true" (mouseout)="showChatName= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
              <b [class.show]="showChatName"> The Chat Window Header Title. Everyone	will see this.</b>
            </p>
            <div class="login-form-elements">
              <label> Enter A Chat Window Name</label>
              <input type="text" name="chat_window_name" [(ngModel)]="botData.chat_window_name">
            </div>
          </div>
        </div>
        <div class="step-inner-wrapper custom-margin-bottom">
          <div class="step-inner-title">
            <h3>Chat Style</h3>
          </div>
          <div class="full-panel chat-style-latteral-tab">
                            <span>Latteral Tab
                               <!-- <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                <b class=""></b> -->
                            </span>
              <mat-slide-toggle (change)="latteralToggle()" name="latteralTab" type="text" [(ngModel)]="latteralTab" color="primary" style="float:right">
                {{latteralTab ? 'On' : 'Off'}}

              </mat-slide-toggle>
          </div>
          <div class="full-panel chat-style-floating-icon">
                            <span>Floating Icon
                                <!-- <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                <b class=""></b> -->
                            </span>
              <mat-slide-toggle (change)="floatingToggle()" name="floatingIcon" type="text" [(ngModel)]="floatingIcon" color="primary" style="float: right">
                {{floatingIcon ? 'On' : 'Off'}}
              </mat-slide-toggle>
          </div>
        </div>
        <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4">
          <div class="step-inner-title">
            <h3>Chat Window	Customization</h3>
          </div>
          <div class="full-width-input-fields full-width-input-fields-step4">
            <p>Welcome	Message
              <sup><i (mouseover)="showWelcome= true" (mouseout)="showWelcome= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
              <b [class.show]="showWelcome"> The Chat Window Welcome Message. Everyone will see	this.</b>
            </p>
            <div class="login-form-elements">
              <label>Enter A Welcome	Message</label>
              <input type="text" name="initial_greeting" [(ngModel)]="botData.initial_greeting">
            </div>
          </div>
          <div class="full-width-input-fields full-width-input-fields-step4">
            <p>Input Title
              <sup><i (mouseover)="showTitle= true" (mouseout)="showTitle= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
              <b [class.show]="showTitle">The text that appears	in the chatbot	input text field.</b>
            </p>
            <div class="login-form-elements">
              <label> Please	Enter An Input Text</label>
              <input type="text" name="input_title" [(ngModel)]="botData.input_title">
            </div>
          </div>
          <div class="full-width-input-fields full-width-input-fields-step4">
            <p>Input Waiting Text
              <sup><i (mouseover)="showWaiting= true" (mouseout)="showWaiting= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
              <b [class.show]="showWaiting">The	text that appears in chat window when your bot is waiting.</b>
            </p>
            <div class="login-form-elements">
              <label>Please Enter A Waiting Text</label>
              <input type="text" name="waiting_msg" [(ngModel)]="botData.waiting_msg">
            </div>
          </div>
        </div>

        <div class="step-inner-wrapper custom-margin-bottom">
          <div class="step-inner-title">
            <h3>Appearance</h3>
          </div>
          <div class="full-panel full-panel-step2">
                            <span>Upload Your Avatar Image
                                            <sup><i (mouseover)="showAvatar= true" (mouseout)="showAvatar= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b [class.show]="showAvatar"> Upload	a PNG or JPEG file</b>
                                        </span>
            <div class="right-side-form">
              <input id="file_input_avatar" (change)="avatarChangeEvent($event)" *ngIf="!imageUrl" type="file"/>
              <div id="imagePreview" *ngIf="imageUrl">
                <img class="imageThumb" src="{{imagePreview}}">
                <span class="remove" (click)="deleteImage('avatar');"><i class="fa fa-trash-o"></i>Delete</span>
              </div>
            </div>
            </div>
          <div class="full-panel full-panel-step2">
                            <span>Upload Your	Cover Image
                                            <sup><i (mouseover)="showCover= true" (mouseout)="showCover= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b [class.show]="showCover">Upload a PNG or JPEG file</b>
                                        </span>
            <div class="right-side-form">
              <input id="file_input_cover" (change)="coverChangeEvent($event)" *ngIf="!coverUrl" type="file"/>
              <div id="coverPreview" *ngIf="coverUrl">
                <img class="imageThumb" src="{{coverPreview}}">
                <span class="remove" (click)="deleteImage('cover');"><i class="fa fa-trash-o"></i>Delete</span>
              </div>
          </div>
          </div>
          <div class="full-panel full-panel-step2">
                            <span> Choose the background color of chat tab/icon
                                <sup><i (mouseover)="showBackClr= true" (mouseout)="showBackClr= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                <b [class.show]="showBackClr">The tab/icon background	color seen by users</b>
                            </span>
              <!--<div class="bfh-colorpicker" data-name="colorpicker3" data-close="false"></div> -->
              <div class="right-side-form color-pick-section">
                <input type="color" name="color" [(ngModel)]="botData.tab_color">
                <span [ngStyle]="{'background': botData.tab_color}">{{botData.tab_color}}</span>
              </div>
            </div>
          <div class="full-panel full-panel-step2">
                            <span>Choose the font color ofthe	tab/icon.
                                            <sup><i (mouseover)="showFontClr= true" (mouseout)="showFontClr= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
                                            <b [class.show]="showFontClr">The tab/icon color seen by users</b>
                                        </span>
              <!-- <div class="bfh-colorpicker" data-name="colorpicker3" data-close="false"></div> -->
              <div class="right-side-form color-pick-section">
                <input type="color" name="fcolor" [(ngModel)]="botData.tab_text_color">
                <span [ngStyle]="{'background': botData.tab_text_color}">{{botData.tab_text_color}}</span>
              </div>
          </div>
        </div>
      </div>
      <div class="next-button-wrap">
        <div class="row">
          <div class="col-sm-6">
            <div class="blank-wrap"></div>
          </div>
          <div class="col-sm-6">
            <button class="btnNext" (click)="editBot();">
              Save

            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
