
<div class="dashboard-container">

  <div class="dashboard-inner-container">
    <div class="dashboard-getting-stared-wrapper">
      <app-sub-nav [navType]="'configuration'"></app-sub-nav>
      <h1>Configuration</h1>
      <p>Ipsum sit amet lorem text dummy.</p>
      <div class="getting-started-wrap-wrapper">
        <div class="slide-top-btns">
          <div class="row">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-4 right-text">

            </div>
          </div>
        </div>
        <div class="step-inner-wrapper">
          <div class="step-inner-title">
            <h3>Tap On Your NLP Provider of Choice</h3>
          </div>
          <div class="webhook-list">
            <ul>
              <li (click)="dialogFlow = true; comingSoon1 = comingSoon2 = false;" [class.active]="dialogFlow"><a href="javascript:void(0)"><img src="assets/images/dialogflow-logo.png" alt=""></a></li>
              <li (click)="comingSoon1 = true; dialogFlow = comingSoon2 = false" [class.active]="comingSoon1"><a href="javascript:void(0)"><img src="assets/images/witai-logo.png" alt=""><span>Coming Soon</span></a></li>
              <li (click)="dialogFlow = comingSoon1 = false; comingSoon2 = true;" [class.active]="comingSoon2"><a href="javascript:void(0)"><img src="assets/images/luisai-logo.png" alt=""><span>Coming Soon</span></a></li>
            </ul>
          </div>
          <form>
            <div class="full-width-input-fields">
              <p>Enter Your NLP Server Token
                <sup><i (mouseover)="showNlp= true" (mouseout)="showNlp= false" class="fa fa-question-circle" aria-hidden="true"></i></sup>
                <b [class.show]="showNlp">Enter Your NLP Server Token</b>
              </p>
            </div>
            <div class="login-form-elements transate-left">
              <label> Enter Server Token</label>
              <input type="text" name="token" [(ngModel)]="botData.token">
            </div>
          </form>
        </div>
        <div class="step-inner-wrapper share-bot-wrapper">
          <div class="step-inner-title">
            <h3>Share Your Bot</h3>
          </div>
          <div class="bot-list-config-wrapper">
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Settings</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" (click)="showConfig = true">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Settings</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Knowledge Center</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" (click)="showConfig = true">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Knowledge Center</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Conversations</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" (click)="showConfig = true">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Conversations</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Reports</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" (click)="showConfig = true">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Reports</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="visitor-count-wrapper" [class.active]="showConfig">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share Configuration</h5>
                    <div class="close-visitor-count" (click)="showConfig = false">
                      <span><i class="fa fa-close" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="db-form-elements">
                      <label>To:</label>
                      <input type="text" class="modal-btns share-modal-text" placeholder="xxx@xxxx.com" >
                    </div>
                    <div class="db-form-elements share-modal-textarea">
         	<textarea class="modal-btns" disabled> I am sharing following link with you..

https://www.shareanalyticslink.com/sdasdsdasdsdmnlmnlmslnxjcnxc/sadsadnssad.html</textarea>
                    </div>
                    <div class="share-link-wrap">
                      <textarea id="selectable3" class="modal-btns">https://www.shareanalyticslink.com/sdasdsdasdsdmnlmnlmslnxjcnxc/sadsadnssad.html</textarea>
                      <button id="selectVal3" class="modal-btns">
                        <i class="fa fa-copy" aria-hidden="true"></i>
                        Copy Link
                      </button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="blue-btn modal-btns share-modal-btn" data-dismiss="modal" (click)="showConfig = !showConfig">Share</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="step-inner-wrapper full-panel-wrap step-inner-wrapepr-step4 config-form-wrapper">
          <div class="step-inner-title">
            <h3>Send Automated Reports to Email</h3>
            <div class="on-off-btn toggle-btn-on-off toggle-visitor-count toggle-visitor-count1">
              <mat-slide-toggle type="text" color="primary" style="float:left">
              </mat-slide-toggle>
            </div>
          </div>
          <div class="visitor-count-wrap visitor-count-wrap1">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <p>Your Name</p>
                  <div class="login-form-elements">
                    <label>Enter your name</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <p>Your Email</p>
                  <div class="login-form-elements">
                    <label>Enter your email</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <p>Select the duration of report</p>
                  <div class="login-form-elements">
                    <select>
                      <option>--Select duration--</option>
                      <option>Last 24 Hours</option>
                      <option>Last 7 Days</option>
                      <option>Last 30 Days</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="step-inner-wrapper delete-bot-wrapper">
          <div class="step-inner-title">
            <h3>Delete Bot</h3>
          </div>
          <div class="delete-bot-text">
            <p>Lorem ipsum dummy text. <a (click)="showDelete = true" href="javascript:void(0)">Click here </a>  to delete this bot.</p>
          </div>
        </div>
        <div class="visitor-count-wrapper" [class.active]="showDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Bot Deletion</h5>
                <div class="close-visitor-count" (click)="showDelete = false">
                  <span><i class="fa fa-close" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="modal-body">
                <div class="db-form-elements">
                  <label>What is the #1 thing you wish Proof did better?</label>
                  <input type="text" class="modal-btns" placeholder="Please be as specific as possible" [(ngModel)]="feedback" name="feedback">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="white-btn modal-btns" (click)="showDelete = false">Go Back</button>
                <button type="button" class="blue-btn modal-btns send-feedback-btn" [class.disabled]="feedback === ''" (click)="showDelete = false; showEditPass = true;">Send Feedback</button>
              </div>
            </div>
          </div>
        </div>
        <div class="visitor-count-wrapper" [class.active]="showEditPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Bot Deletion</h5>
                  <div class="close-visitor-count" (click)="showEditPass = false">
                    <span><i class="fa fa-close" aria-hidden="true"></i></span>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="db-form-elements">
                    <label>Please type your email address to confirm you want to delete your bot: <span>agodoy@gmail.com</span></label>
                    <input type="text" class="modal-btns" [(ngModel)]="email">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="white-btn modal-btns" [class.disabled]="email === ''" (click)="showEditPass = false; deleteBot();">Delete My Bot</button>
                  <button type="button" class="white-btn modal-btns" (click)="showEditPass = false">Go Back</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="next-button-wrap">
        <div class="row">
          <div class="col-sm-6">
            <div class="blank-wrap"></div>
          </div>
          <div class="col-sm-6">
            <button class="btnNext" (click)="editBot();">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


