<app-sidebar></app-sidebar>
<div class="dashboard-container">

  <div class="dashboard-inner-container">
    <div class="dashboard-getting-stared-wrapper">
      <app-sub-nav [navType]="'configuration'"></app-sub-nav>
      <h1>Configuration</h1>
      <p>Ipsum sit amet lorem text dummy.</p>
      <div class="getting-started-wrap-wrapper">
        <div class="slide-top-btns">
          <div class="row">
            <div class="col-sm-8">

              <!--<a href="new.html" class="blue-btn"><i class="fa fa-edit" aria-hidden="true"></i><span>Edit Bot</span></a> -->
            </div>
            <div class="col-sm-4 right-text">

            </div>
          </div>
        </div>
        <div class="step-inner-wrapper">
          <div class="step-inner-title">
            <h3>Tap On Your NLP Provider of Choice</h3>
          </div>
          <div class="webhook-list">
            <ul>
              <li class="active"><a href="javascript:void(0)"><img src="../assets/images/dialogflow-logo.png" alt=""></a></li>
              <li><a href="javascript:void(0)"><img src="../assets/images/witai-logo.png" alt=""><span>Coming Soon</span></a></li>
              <li><a href="javascript:void(0)"><img src="../assets/images/luisai-logo.png" alt=""><span>Coming Soon</span></a></li>
            </ul>
          </div>
          <form>
            <div class="full-width-input-fields">
              <p>Enter Your NLP Server Token
                <sup><i class="fa fa-question-circle" aria-hidden="true"></i></sup>
                <b class="">Enter Your NLP Server Token</b>
              </p>
            </div>
            <div class="login-form-elements transate-left">
              <label> Enter Server Token</label>
              <input type="text">
            </div>
          </form>
        </div>
        <div class="step-inner-wrapper share-bot-wrapper">
          <div class="step-inner-title">
            <h3>Share Your Bot</h3>
          </div>
          <div class="bot-list-config-wrapper">
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Settings</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" data-target="#shareConfig">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Settings</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Knowledge Center</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" data-target="#shareConfig">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Knowledge Center</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Conversations</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" data-target="#shareConfig">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Conversations</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="bot-list-config-wrap">
              <div class="row">
                <div class="col-md-7">
                  <h5>Bot Reports</h5>
                </div>
                <div class="col-md-5">
                  <a href="javascript:void(0)" class="blue-btn" data-toggle="modal" data-target="#shareConfig">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share Reports</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="step-inner-wrapper delete-bot-wrapper">
          <div class="step-inner-title">
            <h3>Delete Bot</h3>
          </div>
          <div class="delete-bot-text">
            <p>Lorem ipsum dummy text. <a data-toggle="modal" data-target="#editEmail" href="javascript:void(0)">Click here </a>  to delete this bot.</p>
          </div>
        </div>
      </div>
      <div class="next-button-wrap">
        <div class="row">
          <div class="col-sm-6">
            <div class="blank-wrap"></div>
          </div>
          <div class="col-sm-6">
            <button class="btnNext">
              Save

            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
