<div class="landing-section">
  <div class="container">
    <app-header></app-header>
    <div class="landing-container">
      <div class="row">
        <div class="col-md-7">
          <div class="landing-content">
            <h1>Increase your website conversions with social proof</h1>
            <p>Proof helps you identify and convert more customers on your website. How? By displaying verified recent customer activity notifications.</p>
            <div class="row">
              <form>
                <div class="col-sm-6">
                  <div class="form-element">
                    <input type="email" name="emailField" placeholder="Enter your email" [(ngModel)]="email">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-element">
                    <input type="submit" [routerLink]="(['/checkout',{email:email}])" class="blue-btn" value="Get Started" >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="landing-image">
            <img src="../../../assets/images/landing-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partners-section">
  <div class="partner-section-bg">
  </div>
  <div class="container">
    <div class="partners-container">
      <h2>You're in good company</h2>
      <p>Over 9,431 websites around the world have already made Proof their #1 choice for conversion rate optimization</p>
      <a href="#" class="white-btn">Discover Why</a>
      <ul class="parter-list">
        <li><img src="../../../assets/images/partner1.png" alt=""></li>
        <li><img src="../../../assets/images/partner2.png" alt=""></li>
        <li><img src="../../../assets/images/partner3.png" alt=""></li>
        <li><img src="../../../assets/images/partner4.png" alt=""></li>
        <li><img src="../../../assets/images/partner5.png" alt=""></li>
        <li><img src="../../../assets/images/partner6.png" alt=""></li>
        <li><img src="../../../assets/images/partner7.png" alt=""></li>
      </ul>
    </div>
  </div>
</div>
<div class="benefits-section">
  <div class="container">
    <div class="benefits-container">
      <h2>Proof Instantly Makes Your Marketing More Powerful</h2>
      <p>See all the ways we can help your company grow</p>
      <div class="row">
        <div class="col-sm-4">
          <div class="benefits-wrap">
            <div class="benefit-icon">
              <img src="../../../assets/images/benefit1.png" alt="">
            </div>
            <h3>Higher Conversion Rates</h3>
            <a href="#" class="bordered-btn">Learn More</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="benefits-wrap">
            <div class="benefit-icon">
              <img src="../../../assets/images/benefit2.png" alt="">
            </div>
            <h3>Decreased Cost Per Acquisition</h3>
            <a href="#" class="bordered-btn">Learn More</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="benefits-wrap">
            <div class="benefit-icon">
              <img src="../../../assets/images/benefit3.png" alt="">
            </div>
            <h3>Increased Trust</h3>
            <a href="#" class="bordered-btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="features-container">
      <div class="row">

        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature1.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-content">
            <span>LET YOUR CUSTOMERS SELL FOR YOU</span>
            <h3>Social Proof Notifications</h3>
            <p>Let your customers sell for you with powerful social proof. Show notifications for purchases, lead magnet sign ups, webinar registrations, or any other forms on your site.</p>
            <a [routerLink]="(['/checkout'])" class="blue-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-content">
            <span>SHOW YOUR VISITORS THEY ARE IN GOOD COMPANY</span>
            <h3>Live Visitor Count</h3>
            <p>Live Visitor Count displays how many visitors are viewing your entire site, or just a particular page. Let's your visitors know they aren't the only ones at the party.</p>
            <a [routerLink]="(['/checkout'])" class="blue-btn">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature2.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature3.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-content">
            <span>Follow visitors through your marketing funnel</span>
            <h3>Customer Journeys</h3>
            <p>We show you the exact path visitors take from the first time they click, all the way to your conversion goal. We take the mystery out of your traffic.</p>
            <a [routerLink]="(['/checkout'])" class="blue-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-content">
            <span>Put A Face To Your Visitors</span>
            <h3>Visitor profiles packed with details.</h3>
            <p>Once a visitor enters their email on your site, we'll show you everything we can find about them. Google analytics shows you how many people are on your site, we show you who they are.</p>
            <a [routerLink]="(['/checkout'])" class="blue-btn">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="platform-section">
  <div class="container">
    <div class="platform-container">
      <h2>One powerful platform</h2>
      <p>Identify & convert more of your existing visitors into customers</p>
      <div class="platform-wrapper">
        <div class="row">
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform1.png" alt="">
              </div>
              <h3>Activity Notifications</h3>
              <p>Display recent sales and opt-ins on your pages and drive visitors to convert.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform2.png" alt="">
              </div>
              <h3>Live Visitor Count</h3>
              <p>Show how many visitors are browsing your site - "28 people are viewing this page"</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform3.png" alt="">
              </div>
              <h3>Visitor Identification</h3>
              <p>We'll show you detailed profiles of every visitor who enters their email.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform4.png" alt="">
              </div>
              <h3>Customer Journeys</h3>
              <p>Watch visitors travel across your site and see which steps they take to convert.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform5.png" alt="">
              </div>
              <h3>Custom Timing</h3>
              <p>Control when, how long and how fast notifications display on your site.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform6.png" alt="">
              </div>
              <h3>Custom Rules</h3>
              <p>Granular control over how and when notifications display on your pages.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform7.png" alt="">
              </div>
              <h3>Mobile Optimized</h3>
              <p>With mobile traffic approaching 70%, Proof looks amazing on mobile.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform8.png" alt="">
              </div>
              <h3>Language Translation</h3>
              <p>Translate your notifications into any language you want. We're global.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="joinus-section">
  <div class="container">
    <div class="joinus-container">
      <div class="joinus-wrapper">
        <h2>Join the Thousands of Companies Using Proof</h2>
        <p>Signing up is fast, free and easy.</p>
        <a [routerLink]="(['/checkout'])" class="white-btn">Get Started</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>