<div class="feature-landing-section">
  <div class="container">
    <app-header></app-header>
    <div class="landing-container feature-landing-container">
      <div class="row">
        <div class="col-md-5">
          <div class="landing-content">
            <h1>How it Works</h1>
            <p>Display real-time customer activity notifications on your website and let your existing customers sell for you.</p>
            <a href="#" class="blue-btn">Sign Up</a>
            <a href="#" class="white-btn">Already have an account?</a>
            <div class="testimonial-wrap">
              <div class="row">
                <div class="col-md-3">
                  <div class="testimonial-icon">
                    <img src="../../../assets/images/client-icon.png" alt="">
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="testimonial-content">
                    <p>"Proof is a no-brainer to increase conversions on your pages. Since using it, some of our pages are now converting over 50%!"</p>
                    <span>Ryan Lee, Freedym.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="landing-image">
            <img src="../../../assets/images/feature-landing-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature-getstarted-section">
  <div class="container">
    <div class="feature-getstarted-container">
      <h2>Get Started In Minutes</h2>
      <p>Proof easily connects to your website - no coding required!</p>
      <a href="#" class="blue-btn">Get Started</a>

      <div class="feature-howitworks-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="fature-howitworks-wrap">
              <div class="howitworks-icon">
                <img src="../../../assets/images/howitworks1.png" alt="">
              </div>
              <h3>Install</h3>
              <p>Install the simple marketing pixel on your pages. Copy and paste in under 42 seconds.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fature-howitworks-wrap">
              <div class="howitworks-icon">
                <img src="../../../assets/images/howitworks2.png" alt="">
              </div>
              <h3>Connect</h3>
              <p>Connect Proof to your existing landing page software, CRM or website platform.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fature-howitworks-wrap">
              <div class="howitworks-icon">
                <img src="../../../assets/images/howitworks3.png" alt="">
              </div>
              <h3>Launch</h3>
              <p>Launch targeted social proof notifications on your site in minutes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="platform-section">
  <div class="container">
    <div class="platform-container">
      <h2>One powerful platform</h2>
      <p>Identify & convert more of your existing visitors into customers</p>
      <div class="platform-wrapper">
        <div class="row">
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform1.png" alt="">
              </div>
              <h3>Activity Notifications</h3>
              <p>Display recent sales and opt-ins on your pages and drive visitors to convert.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform2.png" alt="">
              </div>
              <h3>Live Visitor Count</h3>
              <p>Show how many visitors are browsing your site - "28 people are viewing this page"</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform3.png" alt="">
              </div>
              <h3>Visitor Identification</h3>
              <p>We'll show you detailed profiles of every visitor who enters their email.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform4.png" alt="">
              </div>
              <h3>Customer Journeys</h3>
              <p>Watch visitors travel across your site and see which steps they take to convert.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform5.png" alt="">
              </div>
              <h3>Custom Timing</h3>
              <p>Control when, how long and how fast notifications display on your site.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform6.png" alt="">
              </div>
              <h3>Custom Rules</h3>
              <p>Granular control over how and when notifications display on your pages.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform7.png" alt="">
              </div>
              <h3>Mobile Optimized</h3>
              <p>With mobile traffic approaching 70%, Proof looks amazing on mobile.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="platform-wrap">
              <div class="platform-icon">
                <img src="../../../assets/images/platform8.png" alt="">
              </div>
              <h3>Language Translation</h3>
              <p>Translate your notifications into any language you want. We're global.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="benefits-section">
  <div class="container">

    <div class="features-container">
      <div class="row">

        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature1.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-content">
            <span>LET YOUR CUSTOMERS SELL FOR YOU</span>
            <h3>Social Proof Notifications</h3>
            <p>Let your customers sell for you with powerful social proof. Show notifications for purchases, lead magnet sign ups, webinar registrations, or any other forms on your site.</p>
            <a href="#" class="blue-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-content">
            <span>SHOW YOUR VISITORS THEY ARE IN GOOD COMPANY</span>
            <h3>Live Visitor Count</h3>
            <p>Live Visitor Count displays how many visitors are viewing your entire site, or just a particular page. Let's your visitors know they aren't the only ones at the party.</p>
            <a href="#" class="blue-btn">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature2.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature3.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-content">
            <span>Follow visitors through your marketing funnel</span>
            <h3>Customer Journeys</h3>
            <p>We show you the exact path visitors take from the first time they click, all the way to your conversion goal. We take the mystery out of your traffic.</p>
            <a href="#" class="blue-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-content">
            <span>Put A Face To Your Visitors</span>
            <h3>Visitor profiles packed with details.</h3>
            <p>Once a visitor enters their email on your site, we'll show you everything we can find about them. Google analytics shows you how many people are on your site, we show you who they are.</p>
            <a href="#" class="blue-btn">Get Started</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature4.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-image">
            <img src="../../../assets/images/home-feature5.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-content">
            <span>Seamless Integrations</span>
            <h3>Integrate with Countless Existing Platforms</h3>
            <p>Setup Proof in minutes on nearly any website platform you're already using.</p>
            <a href="#" class="blue-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="joinus-section">
  <div class="container">
    <div class="joinus-container">
      <div class="joinus-wrapper">
        <h2>Join the Thousands of Companies Using Proof</h2>
        <p>Signing up is fast, free and easy.</p>
        <a href="#" class="white-btn">Get Started</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-section">
  <div class="container">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Product</h3>
            <ul>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Signup</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Company</h3>
            <ul>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Resources</h3>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Free Guide</a></li>
              <li><a href="#">Affiliate Program</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Legal</h3>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Headquarters</h3>
            <ul>
              <li><a href="javascript:void(0)">113 Ridgely Ave
                Annapolis, MD 21401</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>