<div class="sub-nav-list">
  <ul *ngIf="navType !== 'modules'">
    <li><a [ngClass]="{'active' : navType === 'home'}" [routerLink]="(['/bot-home'])"><span>Home</span></a> </li>
    <li><a [ngClass]="{'active' : navType === 'configuration'}" [routerLink]="(['/bot-configuration'])"><span>Configuration</span></a></li>
    <li><a [ngClass]="{'active' : navType === 'installation'}" [routerLink]="(['/bot-installation'])"><span>Installation</span></a></li>
    <li><a [ngClass]="{'active' : navType === 'lookFeel'}" [routerLink]="(['/bot-look-feel'])"><span>Look & Feel</span></a></li>
  </ul>
</div>
