<div class="sub-nav-list">
  <ul>
    <li><a [ngClass]="{'active' : navType === 'home'}" [routerLink]="(['/bot-home'])"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a> </li>
    <li><a [ngClass]="{'active' : navType === 'configuration'}" [routerLink]="(['/bot-configuration'])"><i class="fa fa-cog" aria-hidden="true"></i><span>Configuration</span></a></li>
    <li><a [ngClass]="{'active' : navType === 'installation'}" [routerLink]="(['/bot-installation'])"><i class="fa fa-wrench" aria-hidden="true"></i><span>Installation</span></a></li>
    <li><a [ngClass]="{'active' : navType === 'lookFeel'}" [routerLink]="(['/bot-look-feel'])"><i class="fa fa-eye" aria-hidden="true"></i><span>Look & Feel</span></a></li>
    <li><a [ngClass]="{'active' : navType === 'modules'}" [routerLink]="(['/bot-modules'])"><i class="fa fa-cog" aria-hidden="true"></i><span>Modules</span></a></li>
  </ul>
</div>
