.shrink-sidebar {
 position: fixed;
  left: 265px;
  top: 114px;
}
.shrink-sidebar i{
  font-size:22px;
}
.shrink-sidebar.shirnk-sidebar-left {
  left: 65px;
  transform: rotate(180deg);
}
.sidebar-left {
  width: 260px;
  float: left;
}
.sidebar-left.shirnk-sidebar-left  {
  width: 60px;
}
.main-content {
  width: calc(100% - 260px);
  float: right;
  height: calc(100vh - 115px);
  overflow-y: auto;
  margin-top: 114px;
}
.main-content.shirnk-sidebar-left  {
  width: calc(100% - 60px);
}

@media(max-width: 1169px) {
  .shrink-sidebar {
    display: none;
  }
  .shrink-sidebar {
    left: 60px;
  }
  .sidebar-left {
    width: 60px;
  }
  .main-content {
    width: calc(100% - 80px);
  }
}
