<div class="shrink-sidebar" *ngIf="hideSideBar" (click)="shrinkSideBar=!shrinkSideBar; shrinkBar()"
     [ngClass]="{'shirnk-sidebar-left': shrinkSideBar}"><i class="fa fa-angle-left" aria-hidden="true"></i></div>

<div class="sidebar-left" *ngIf="hideSideBar" [ngClass]="{'shirnk-sidebar-left': shrinkSideBar}">
    <app-main-header></app-main-header>
    <app-sub-header></app-sub-header>
    <app-sidebar [getUrl]="getUrl"></app-sidebar>
</div>
<div [class.main-content]="hideSideBar" [class.shirnk-sidebar-left]="shrinkSideBar">
    <router-outlet></router-outlet>
</div>

<ng-progress [color]="'#0095f7'"></ng-progress>
