<div class="dashboard-main">
  <div class="toggle-sidebar">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="dashboard-sidebar">
    <div class="dashboard-logo-wrap">
      <a [routerLink]="(['/'])"><img src="../assets/images/logo.png" alt=""></a>
    </div>
    <div class="dashboard-new">
      <a [routerLink]="(['/new-bot'])" class="cursor blue-btn"><i class="fa fa-plus" aria-hidden="true"></i> <span>New Bot</span></a>
    </div>
    <div class="dashboard-navigation">
      <div class="scrollable-wrap">

        <ul>
          <li><a [routerLink]="(['/get-started'])"><i class="fa fa-star" aria-hidden="true"></i>
            <span>Getting Started</span></a></li>
        </ul>
        <div class="mybot-menu-wrap">
          <a class="bot-name-link" [routerLink]="(['/'])"><b>My Bot 1</b></a>
          <i class="fa fa-caret-down mybot-menu-tgl" aria-hidden="true"></i>
          <!--<span><a href="configuration.html"><i class="fa fa-cog" aria-hidden="true"></i></a></span>	-->
          <div class="clearfix"></div>
          <div class="bot-list-wrap">
            <ul>
              <li><a href="javascript:void(0)"> My Bot 1</a></li>
              <li><a href="javascript:void(0)"> My Bot 2</a></li>
              <li><a href="javascript:void(0)"> My Bot 3</a></li>
              <li><a href="javascript:void(0)"> My Bot 4</a></li>
            </ul>
          </div>
        </div>
        <label><a [routerLink]="(['/setup-ai'])"><i class="fa fa-cog" aria-hidden="true"></i>Automate</a></label>
        <label><a [routerLink]="(['/transcripts'])"><i class="fa fa-comments" aria-hidden="true"></i> Conversations</a></label>
        <label><a [routerLink]="(['/analytics'])"><i class="fa fa-line-chart" aria-hidden="true"></i>
          Reports</a></label>

      </div>

    </div>
    <div class="app-version-dashboard">

      <ul>
        <li><a [routerLink]="(['/account-settings'])"><i class="fa fa-cogs" aria-hidden="true"></i> <span>Account Settings</span></a>
        </li>
      </ul>
      <span>Version 1.0.0</span> <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
