<div class="dashboard-container">
  <div class="sub-nav-list">
  </div>
  <div class="dashboard-inner-container">
    <div class="dashboard-getting-stared-wrapper">
      <h1>Welcome to Proof, Andres!</h1>
      <p>Our mission is to help you grow your business using honest marketing strategies. We are continually developing Proof into the platform that will help you build massive trust with your audience and drive higher conversions.</p>
      <div class="getting-started-video-wrapper">
        <h3>Quickstart Guide</h3>
        <iframe player-vars="video.vars" player="videoPlayer"  frameborder="0" allowfullscreen="1" gesture="media" allow="encrypted-media" title="YouTube video player" src="https://www.youtube.com/embed/nfV3MtsIXiA?controls=1&amp;autoplay=0&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fapp.useproof.com&amp;widgetid=2"></iframe>
      </div>

    </div>
  </div>
</div>
