<div class="dashboard-main">
  <div class="toggle-sidebar">

  </div>
  <div class="dashboard-sidebar">
    <div class="dashboard-logo-wrap">
      <a [routerLink]="(['/'])"><img src="../../assets/images/logo-white.png" alt=""></a>
    </div>
    <div class="dashboard-new">
      <button><i class="fa fa-plus" aria-hidden="true"></i> <span>New</span></button>
    </div>
    <div class="dashboard-navigation">
      <label>Welcome</label>
      <ul>
        <li><a [routerLink]="(['/'])"><i class="fa fa-star" aria-hidden="true"></i> <span>Getting Started</span></a></li>
      </ul>
      <label>Manage</label>
      <ul>
        <li><a [routerLink]="(['/'])"><i class="fa fa-bell" aria-hidden="true"></i><span>Notifications</span></a></li>
        <li><a [routerLink]="(['/'])"><i class="fa fa-bolt" aria-hidden="true"></i><span>Traffic Feed </span> <strong>Beta</strong></a></li>
      </ul>
      <label>Account</label>
      <ul>
        <li><a [routerLink]="(['/'])"><i class="fa fa-file-code-o" aria-hidden="true"></i><span>Pixel Install</span></a></li>
        <li><a [routerLink]="(['/'])"><i class="fa fa-cogs" aria-hidden="true"></i> <span>Settings</span></a></li>
      </ul>
    </div>
    <div class="app-version-dashboard"><span>Version 2.1.74</span> <a class="cursor" (click)="signOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
  </div>
  <div class="dashboard-container">
    <div class="dashboard-inner-container">
      <div class="dashboard-new-wrapper">
        <div class="dashboard-new-title-wrap">
          <h3>Add Proof To Your Website</h3>
          <div class="title-links">
            <a [routerLink]="(['/'])"><img src="../../assets/images/white-close-icon.png" alt=""></a>
            <a [routerLink]="(['/'])"><img src="../../assets/images/white-next-icon.png" alt=""></a>
          </div>
        </div>
        <div class="dashboard-new-steps-wrapper">
          <ul class="nav nav-pills dashboard-step-list" id="pills-tab" role="tablist">
            <li class="nav-item" xyz="abc">
              <a class="nav-link active" id="new-step1" data-toggle="pill" href="#capture" role="tab" aria-controls="capture" aria-selected="true">
                <strong>1</strong>
                <span>Capture</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="new-step2" data-toggle="pill" href="#display" role="tab" aria-controls="display" aria-selected="true">
                <strong>2</strong>
                <span>Display</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="new-step3" data-toggle="pill" href="#message" role="tab" aria-controls="message" aria-selected="true">
                <strong>3</strong>
                <span>Message</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="new-step4" data-toggle="pill" href="#customize" role="tab" aria-controls="customize" aria-selected="true">
                <strong>4</strong>
                <span>Customize</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="capture" role="tabpanel" aria-labelledby="new-step1">
              <div class="tab-content-wrap">
                <div class="step-inner-wrapper">
                  <div class="step-inner-title">
                    <h3>Where Are You Capturing Your Leads?</h3>
                  </div>
                  <p>Choose the page where you are capturing conversions. This page must have an email form field with your pixel installed.</p>
                  <form>
                    <div class="db-form-elements">
                      <input type="text">
                    </div>
                  </form>
                  <div class="list-color-bullets">
                    <ul>
                      <li>Active URL</li>
                      <li>Last seen over 24 hrs ago</li>
                      <li>Has never been tracked</li>
                      <li>Invalid URL</li>
                    </ul>
                  </div>

                </div>
                <div class="small-fonts">
                  <p>Don't think Auto Lead Capture will work for your setup?</p>
                </div>
                <div class="webhook-integration-toggle">
                  <a href="javascript:void(0)">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                    <span>Use A Webhook Integration</span>
                  </a>
                </div>
                <div class="step-inner-wrapper webhook-integration-wrap">
                  <div class="step-inner-title">
                    <h3>Where Are You Capturing Your Leads?</h3>
                  </div>
                  <p><strong>What type of webhook would you like to use?</strong></p>
                  <div class="webhook-list">
                    <ul>
                      <li>
                        <img src="../../assets/images/webhook-icon1.png" alt="">
                        <span>Infusionsoft</span>
                      </li>
                      <li>
                        <img src="../../assets/images/webhook-icon2.png" alt="">
                        <span>Clickfunnels</span>
                      </li>
                      <li>
                        <img src="../../assets/images/webhook-icon3.png" alt="">
                        <span>Calendly</span>
                      </li>
                      <li>
                        <img src="../../assets/images/webhook-icon3.png" alt="">
                        <span>ScheduleOnce</span>
                      </li>
                      <li>
                        <img src="../../assets/images/webhook-icon3.png" alt="">
                        <span>Custom Webhook</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="next-button-wrap">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="blank-wrap"></div>
                  </div>
                  <div class="col-sm-6">
                    <button class="btnNext">
                      Next
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="display" role="tabpanel" aria-labelledby="new-step2">
              <div class="tab-content-wrap">
                <div class="step-inner-wrapper">
                  <div class="step-inner-title">
                    <h3>Where would you like to display your customer activity?</h3>
                  </div>
                  <div class="basic-display-wrap toggle-basic-advance">
                    <p>Choose one or more pages where you would like to display notifications.</p>
                    <form>
                      <div class="db-form-elements">
                        <input type="text">
                      </div>
                    </form>
                    <div class="list-color-bullets">
                      <ul>
                        <li>Active URL</li>
                        <li>Last seen over 24 hrs ago</li>
                        <li>Has never been tracked</li>
                        <li>Invalid URL</li>
                      </ul>
                    </div>
                  </div>
                  <div class="advanced-display-wrap">
                    <p>Type a full or partial url where you would like to display notifications.</p>
                    <div class="login-form-elements">
                      <label>Display URL</label>
                      <input type="text">
                    </div>
                    <div class="db-form-elements">
                      <label>URL Match Type</label>
                      <select>
                        <option>Contains</option>
                        <option>Exact Match</option>
                        <option>Ends With</option>
                        <option>Start With</option>
                      </select>
                    </div>
                  </div>
                  <div class="basic-advance-toggle-wrap">
                    <div class="basic-advance-toggle">
                      <span class="btn-text">Basic</span>
                      <div class="on-off-btn">
                        <span class="rounded-on-off-btn"></span>
                      </div>
                      <span class="btn-text">Advance</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="next-button-wrap">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="blank-wrap">
                      <a [routerLink]="(['/'])" class="btnPrev">Back</a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <button class="btnNext">
                      Next
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="message" role="tabpanel" aria-labelledby="new-step3">
              <div class="tab-content-wrap">
                <div class="step-inner-wrapper">
                  <div class="step-inner-title">
                    <h3>Messaging</h3>
                  </div>
                  <p>What do you want your notification to say?</p>
                  <div class="login-form-elements">
                    <label>Enter A Message</label>
                    <input type="text">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="message-bubble-wrap">
                      <div class="message-bubble-image">
                        <img src="../../assets/images/dave.jpg" alt="">
                      </div>
                      <div class="message-bubble-desc">
                        <h4>Dave from Annapolis, MD</h4>
                        <p>Recently joined the Entrepreneur Alliance</p>
                        <span>
                                                    2 minutes ago
                                                    <i class="_2-Nax0W7eNYVpRQlg-K1Ud">
                                                    <svg width="7" height="13" viewBox="0 0 7 13" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M4.127.496C4.51-.12 5.37.356 5.16 1.07L3.89 5.14H6.22c.483 0 .757.616.464 1.044l-4.338 6.34c-.407.595-1.244.082-1.01-.618L2.72 7.656H.778c-.47 0-.748-.59-.48-1.02L4.13.495z" fill="#F6A623"></path><path fill="#FEF79E" d="M4.606.867L.778 7.007h2.807l-1.7 5.126 4.337-6.34H3.16"></path></g></svg></i> 
                                                    by 
                                                    <a>Proof</a>
                                                </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="next-button-wrap">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="blank-wrap">
                      <a [routerLink]="(['/'])" class="btnPrev">Back</a>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <button class="btnNext">
                      Next
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="customize" role="tabpanel" aria-labelledby="new-step4">
              Customize
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>