<div class="login-signup-page">
    <div class="login-signup-header">
        <div class="container-fluid">
            <div class="login-signup-header-container">
                <div class="login-signup-logo-wrap">
                    <a [routerLink]="(['/'])"><img src="../../../assets/images/logo-white-0303.png" alt="UNIQ"></a>
                </div>
                <div class="login-signup-button-wrap">
                    <a [routerLink]="['/sign-up']">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="login-signup-form-container">
        <div class="container">
            <div class="login-signup-form-wrapper">
                <div class="login-signup-form-wrap">
                    <h2>Welcome to Uniq</h2>
                    <!--<google-signin [clientId]="clientId" width="400" theme="dark" scope="email profile" longTitle="true"
                                   (googleSignInSuccess)="onGoogleSignInSuccess($event)"></google-signin>-->
                    <!--<a href="javascript:void(0)" class="white-btn" (click)="loginWithGoogle()">Continue with Google</a>-->
                    <div class="login-signup-border-wrap"><span>or</span></div>
                    <form>
                        <div class="login-signup-form-elements-wrap">
                            <div class="login-signup-form-elements">
                                <label>Email</label>
                                <input placeholder="example@uniq.ai" type="email" name="email" [(ngModel)]="user.email">
                            </div>
                            <div class="login-signup-form-elements">
                                <label>Password</label>
                                <input placeholder="••••••••••" type="password" name="password" [(ngModel)]="user.password">
                            </div>
                        </div>
                        <div class="login-signup-form-elements no-border">
                            <input type="submit" (click)="login()" class="blue-btn" value="Sign In">
                        </div>
                    </form>
                    <p><img src="https://useproof.s3.amazonaws.com/turbo1/tip.svg" alt=""> Trouble signing in? <a
                            href="#">Reset your password</a></p>
                    <p><img src="https://useproof.s3.amazonaws.com/turbo1/tip.svg" alt=""> Don't have an account? <a
                            [routerLink]="['/sign-up']">Sign up here</a></p>
                </div>
                <div class="login-testimonial">
                    <p>"A great tool! Nothing beats live social Uniq."</p>
                    <div class="login-testimonial-client-info">
                        <div class="login-testimonial-client-image">
                            <img src="../../../assets/images/home-testimonial-image.jpg" alt="">
                        </div>
                        <div class="login-testimonial-client-name">
                            <h6>Neil Patel</h6>
                            <span>Quicksprout.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>
