<div class="footer-section">
  <div class="container">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Product</h3>
            <ul>
              <li><a [routerLink]="(['/features'])">How it Works</a></li>
              <li><a [routerLink]="(['/sign-up'])">Signup</a></li>
              <li><a [routerLink]="(['/login'])">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Company</h3>
            <ul>
              <li><a [routerLink]="(['/'])">Customers</a></li>
              <li><a [routerLink]="(['/'])">Our Team</a></li>
              <li><a [routerLink]="(['/'])">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Resources</h3>
            <ul>
              <li><a [routerLink]="(['/'])">Contact Us</a></li>
              <li><a [routerLink]="(['/'])">Help Center</a></li>
              <li><a [routerLink]="(['/'])">Free Guide</a></li>
              <li><a [routerLink]="(['/'])">Affiliate Program</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Legal</h3>
            <ul>
              <li><a [routerLink]="(['/'])">Privacy Policy</a></li>
              <li><a [routerLink]="(['/'])">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Headquarters</h3>
            <ul>
              <li><a href="javascript:void(0)">113 Ridgely Ave
                Annapolis, MD 21401</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>