<div class="pricing-landing-section">
  <div class="container">
    <app-header></app-header>
  </div>
</div>
<div class="pricing-section">
  <div class="container">
    <div class="pricing-container">
      <h1>Simple Pricing</h1>
      <p>Try the plan that fits your needs FREE for 14 days</p>
      <div class="pricing-wrapper">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="pills-monthly-tab" data-toggle="pill" href="#pills-monthly" role="tab" aria-controls="pills-monthly" aria-selected="true">Monthly</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" id="pills-yearly-tab" data-toggle="pill" href="#pills-yearly" role="tab" aria-controls="pills-yearly" aria-selected="false">Yearly</a>
            <div class="pricing-advantage">
              <img src="../../../assets/images/pricing-highlights.png" alt="">
            </div>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab">
            <div class="row">
              <div class="col-sm-4">
                <div class="pricing-wrap">
                  <h3>Basic</h3>
                  <span>$29</span>
                  <p>per month</p>
                  <a href="#" class="blue-btn">Start Free Trial</a>
                  <ul>
                    <li>1,000 Unique Visitors /mo</li>
                    <li>1 Domain</li>
                    <li>Unlimited Notifications</li>
                    <li>Customer Journeys</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-wrap highlighted-pricing-wrap">
                  <div class="pricing-highlights"><b>Most Popular</b></div>
                  <h3>Pro</h3>
                  <span>$79</span>
                  <p>per month</p>
                  <a href="#" class="blue-btn">Start Free Trial</a>
                  <ul>
                    <li>10,000 Unique Visitors /mo</li>
                    <li>3 Domains</li>
                    <li>Unlimited Notifications</li>
                    <li>Customer Journeys</li>
                    <li>Live Visitor Count</li>
                    <li>Custom Rules</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-wrap">
                  <h3>Business</h3>
                  <span>$129</span>
                  <p>per month</p>
                  <a href="#" class="blue-btn">Start Free Trial</a>
                  <ul>
                    <li>50,000 Unique Visitors /mo</li>
                    <li>10 Domains</li>
                    <li>Unlimited Notifications</li>
                    <li>Customer Journeys</li>
                    <li>Live Visitor Count</li>
                    <li>Custom Rules</li>
                    <li>Custom Timing</li>
                    <li>Priority Support</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="pills-yearly" role="tabpanel" aria-labelledby="pills-yearly-tab">
            <div class="row">
              <div class="col-sm-4">
                <div class="pricing-wrap">
                  <h3>Basic</h3>
                  <span>$25</span>
                  <p>per month (paid annually)</p>
                  <a href="#" class="blue-btn">Start Free Trial</a>
                  <ul>
                    <li>1,000 Unique Visitors /mo</li>
                    <li>1 Domain</li>
                    <li>Unlimited Notifications</li>
                    <li>Customer Journeys</li>
                  </ul>
                  <div class="pricing-disc">
                    SAVE $58
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-wrap highlighted-pricing-wrap">
                  <div class="pricing-highlights"><b>Most Popular</b></div>
                  <h3>Pro</h3>
                  <span>$66</span>
                  <p>per month (paid annually)</p>
                  <a href="#" class="blue-btn">Start Free Trial</a>
                  <ul>
                    <li>10,000 Unique Visitors /mo</li>
                    <li>3 Domains</li>
                    <li>Unlimited Notifications</li>
                    <li>Customer Journeys</li>
                    <li>Live Visitor Count</li>
                    <li>Custom Rules</li>
                  </ul>
                  <div class="pricing-disc">
                    SAVE $158
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pricing-wrap">
                  <h3>Business</h3>
                  <span>$108</span>
                  <p>per month (paid annually)</p>
                  <a href="#" class="blue-btn">Start Free Trial</a>
                  <ul>
                    <li>50,000 Unique Visitors /mo</li>
                    <li>10 Domains</li>
                    <li>Unlimited Notifications</li>
                    <li>Customer Journeys</li>
                    <li>Live Visitor Count</li>
                    <li>Custom Rules</li>
                    <li>Custom Timing</li>
                    <li>Priority Support</li>
                  </ul>
                  <div class="pricing-disc">
                    SAVE $258
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-section">
  <div class="container">
    <div class="faq-container">
      <h2>Frequently Asked Questions</h2>
      <div class="faq-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="faq-wrap">
              <h3>How Does Proof Count Unique Visitors?</h3>
              <p>A unique visitor is anyone that visits one of your pages with our pixel loaded on the page. A visitor may have multiple pageviews and sessions, but they will still only be tracked as a single visitor if they do not clear their browser history or switch to a new device.</p>
            </div>
            <div class="faq-wrap">
              <h3>Will Proof Work With My Website?</h3>
              <p>Yes, we probably will work with your website. Proof integrates with most website platforms out there and we are adding new integrations every day. You can see some of the integrations we already have listed on our features page.</p>
            </div>
            <div class="faq-wrap">
              <h3>Does Proof Have An Affiliate Program?</h3>
              <p>If you have an audience you think would enjoy using Proof, message us in the live chat and we'll get you connected to the right person.</p>
            </div>
            <div class="faq-wrap">
              <h3>Does Proof Just Work For Purchases?</h3>
              <p>Proof works for purchases, lead captures, email opt-ins, appointment bookings, and more. Basically, we can create notifications for anywhere on your website that a customer fills out a form.</p>
            </div>
            <div class="faq-wrap">
              <h3>Can I Create Fake Notifications?</h3>
              <p>Heck no. We built Proof because we were tired of all the dishonest marketing out there on the internet. We were tired of being scammed and trying to figure out if someone was legit or not. We are dedicated to making every notification 100% legit.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="faq-wrap">
              <h3>What Happens If I Exceed The Limit For My Plan?</h3>
              <p>Don't worry, we will not drop or throttle your data! Once you exceed your plan's monthly limit, you'll receive multiple notification emails before you hit your limit. When you go 110% over your limit we will automatically upgrade your account to the next plan.</p>
            </div>
            <div class="faq-wrap">
              <h3>Am I Locked In To A Long-Term Contract?</h3>
              <p>No, your Proof account is month to month and you can cancel anytime.</p>
            </div>
            <div class="faq-wrap">
              <h3>Where Does Proof Get My Customer's Profile Pictures From?</h3>
              <p>We search the internet for publicly available social profile images that your customers have attached to their email address. These are posted online with consent, and your customers can opt out of having their information shared on Proof by reaching out to us, so you're covered.</p>
            </div>
            <div class="faq-wrap">
              <h3>Can I Upload Past Customer Purchases?</h3>
              <p>Right now, no. We know some folks are legit, but we also know if this was an option, people would abuse it and upload fake lists to make themselves look better. Not cool.</p>
            </div>
            <div class="faq-wrap">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="joinus-section">
  <div class="container">
    <div class="joinus-container">
      <div class="joinus-wrapper">
        <h2>Join the Thousands of Companies Using Proof</h2>
        <p>Signing up is fast, free and easy.</p>
        <a href="#" class="white-btn">Get Started</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-section">
  <div class="container">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Product</h3>
            <ul>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Signup</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Company</h3>
            <ul>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Resources</h3>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Free Guide</a></li>
              <li><a href="#">Affiliate Program</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Legal</h3>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Headquarters</h3>
            <ul>
              <li><a href="javascript:void(0)">113 Ridgely Ave
                Annapolis, MD 21401</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>