<app-sidebar></app-sidebar>
<div class="dashboard-container automate-container">
  <div class="dashboard-automate-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="automate-sidebar">

          <h1>Questions Without Answers</h1>

          <p>Set up keyphrases and the corresponding bot replies. Your bot will understand user phrases similar to those you’ve set up and reply with some text or a block. </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="automate-content-wrapper">
          <div class="ai-exim-buttons">
            <button class="blue-btn" data-toggle="modal" data-target="#importAIModal"><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Import</span></button>
            <button class="blue-btn" data-toggle="modal" data-target="#exportAIModal"><i class="fa fa-arrow-left" aria-hidden="true"> </i><span>Export</span> </button>
          </div>
          <div class="sub-nav-list">
            <ul>
              <li><a [routerLink]="(['/setup-ai'])"><i class="fa fa-wrench" aria-hidden="true"></i><span>Set Up AI</span></a></li>
              <li><a [routerLink]="(['/setup-ai-questions'])"><i class="fa fa-cog" aria-hidden="true"></i><span>Questions Without Answers</span></a></li>
            </ul>
          </div>
          <div class="defualt-group-wrapper ai-group-wrapper active" ai-group-id="default">
            <div class="ai-group-title" >
              <h2>Edit Title</h2>
              <input type="text">
            </div>
            <div class="search-ai-rules-wrap">
              <input type="text" placeholder="Search here">
              <button type="submit" class="blue-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

            <div class="add-rule-ai-btn-wrap">
              <button class="add-rule-ai-btn blue-btn"><i class="fa fa-plus" aria-hidden="true"></i> Add AI RULE</button>
            </div>
            <div class="new-rule-wrapper">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
