.navbar{
    background: linear-gradient(to right, #363795, #005C97) !important;
    border-radius: 0px !important;
}
.user-info{
    color: white !important;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 8px;
    margin-left: 11px;
}
.user-image{
    border-radius: 71px;
    height: 36px;
}
.user-name{
    padding-top: 9px;
    text-transform:capitalize;
    padding-left: 10px;
}