<div class="sub-nav-list">
</div>
<div class="dashboard-container">
  <div class="dashboard-plans-container">
    <h2>Choose Your Plan</h2>
    <div class="plan-toggle-wrap">
      <div class="annual-monthly-toggle">
        <span class="btn-text">Monthly</span>
        <div class="on-off-btn">
          <span class="rounded-on-off-btn"></span>
        </div>
        <span class="btn-text">Annual</span>
      </div>
    </div>
    <div class="dashboard-plans-wrapper dashboard-plans-wrapper-monthly active">
      <div class="row">
        <div class="col-md-3">
          <div class="dashboard-plan-wrap">
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>29</strong>
              <span>/mo</span>
            </div>
            <div class="dashboard-plan-btn">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Basic</h3>
            <ul>
              <li>1,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Unlimited Notifications</li>
              <li>Customer Journeys</li>

            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dashboard-plan-wrap highlighted-plan-wrap">
            <div class="popular-plan-wrapper">
              <span>Most Popular</span>
            </div>
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>79</strong>
              <span>/mo</span>
            </div>
            <div class="dashboard-plan-btn ">
              <button class="active">Currently Subscribed</button>
            </div>
            <h3>Pro</h3>
            <ul>
              <li>10,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Custom Rules</li>
              <li>Live Visitor Count</li>
              <li>Unlimited Notifications</li>
              <li>Traffic Feed Customer Profiles</li>
              <li>Customer Journeys</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dashboard-plan-wrap">
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>129</strong>
              <span>/mo</span>
            </div>
            <div class="dashboard-plan-btn">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Business</h3>
            <ul>
              <li>50,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Custom Rules</li>
              <li>Live Visitor Count</li>
              <li>Custom Timing</li>
              <li>Priority Support</li>
              <li>Unlimited Notifications</li>
              <li>Traffic Feed Customer Profiles</li>
              <li>Customer Journeys</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dashboard-plan-wrap">
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>199</strong>
              <span>/mo</span>
            </div>
            <div class="dashboard-plan-btn">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Premium</h3>
            <ul>
              <li>50,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Custom Rules</li>
              <li>Live Visitor Count</li>
              <li>Custom Timing</li>
              <li>Priority Support</li>
              <li>Unlimited Notifications</li>
              <li>Traffic Feed Customer Profiles</li>
              <li>Customer Journeys</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-plans-wrapper dashboard-plans-wrapper-yearly">
      <div class="row">
        <div class="col-md-3">
          <div class="dashboard-plan-wrap">
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>290</strong>
              <span>/yr</span>
            </div>
            <div class="dashboard-plan-btn">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Basic</h3>
            <ul>
              <li>1,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Unlimited Notifications</li>
              <li>Customer Journeys</li>

            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dashboard-plan-wrap highlighted-plan-wrap">
            <div class="popular-plan-wrapper">
              <span>Most Popular</span>
            </div>
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>790</strong>
              <span>/yr</span>
            </div>
            <div class="dashboard-plan-btn ">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Pro</h3>
            <ul>
              <li>10,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Custom Rules</li>
              <li>Live Visitor Count</li>
              <li>Unlimited Notifications</li>
              <li>Traffic Feed Customer Profiles</li>
              <li>Customer Journeys</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dashboard-plan-wrap">
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>1290</strong>
              <span>/yr</span>
            </div>
            <div class="dashboard-plan-btn">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Business</h3>
            <ul>
              <li>50,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Custom Rules</li>
              <li>Live Visitor Count</li>
              <li>Custom Timing</li>
              <li>Priority Support</li>
              <li>Unlimited Notifications</li>
              <li>Traffic Feed Customer Profiles</li>
              <li>Customer Journeys</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dashboard-plan-wrap">
            <div class="dashboard-plan-price">
              <sup>$</sup>
              <strong>1990</strong>
              <span>/yr</span>
            </div>
            <div class="dashboard-plan-btn">
              <button class="change-plant-btn"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i><span>Change Plan</span></button>
            </div>
            <h3>Premium</h3>
            <ul>
              <li>50,000 Unique Visitors</li>
              <li>Unlimited Domains</li>
              <li>Custom Rules</li>
              <li>Live Visitor Count</li>
              <li>Custom Timing</li>
              <li>Priority Support</li>
              <li>Unlimited Notifications</li>
              <li>Traffic Feed Customer Profiles</li>
              <li>Customer Journeys</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-plan-footer">
      <p>Not happy with Uniq? If we've fallen short, can we make things right? <a href="#">Please let us know in the chat!</a></p>
      <a href="javascript:void(0)" data-toggle="modal" (click)="showAccount = true">Start Cancellation</a>
    </div>
  </div>
  <div class="modal" [class.show]="showAccount" id="editEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Account Cancellation</h5>
        </div>
        <div class="modal-body">
          <div class="db-form-elements">
            <label>What is the #1 thing you wish Uniq did better?</label>
            <input type="text" placeholder="Please be as specific as possible" [(ngModel)]="feedback" name="feedback">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="white-btn" data-dismiss="modal" (click)="showAccount = false;">Go Back</button>
          <button type="button" class="blue-btn send-feedback-btn" [class.disabled]="feedback === ''" (click)="showAccount = false; showFeedback = true;" data-toggle="modal">Send Feedback</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" [class.show]="showFeedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Account Cancellation</h5>
        </div>
        <div class="modal-body">
          <div class="db-form-elements">
            <label>Please type your email address to confirm you want to delete your Uniq account: <span>agodoy@gmail.com</span></label>
            <input type="text" [(ngModel)]="email">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="white-btn" data-dismiss="modal" [class.disabled]="email === ''" (click)="showFeedback = false;">Delete My Account</button>
          <button type="button" class="white-btn" (click)="showFeedback = false;">Go Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
