<app-sub-nav [navType]="'home'"></app-sub-nav>
<div class="dashboard-container">

  <div class="dashboard-inner-container">
    <div class="dashboard-notifications-wrapper">
      <div class="page-main-title-section">
        <a href={{previewBot}} target="_blank" class="blue-btn"><i class="fa fa-eye" aria-hidden="true"></i><span>Preview Bot</span></a>
        <h1>Welcome to UNIQ!</h1>
        <p>Be productive. Use bots.</p>
      </div>
      <div class="getting-started-video-wrapper notification-wrap">

        <div class="on-off-btn toggle-btn-on-off bot-title-on-off">
          <mat-slide-toggle type="text" color="primary" (change)="changeBotStatus()" [(ngModel)]="botData.active" name="active"></mat-slide-toggle>
        </div>

        <h3>{{botData.name}}</h3>
        <div class="mybot-blocks-wrapper">
          <div class="row">
            <div class="col-md-6">
              <div class="mybot-block-wrap">
                <div class="block-status">
                  <h5>Complete</h5>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="block-icon block-icon-config">
                  <a [routerLink]="(['/bot-configuration'])"><img src="../assets/images/mybot-block-icon1.png" alt=""></a>
                </div>
                <div class="block-desc">
                  <a [routerLink]="(['/bot-configuration'])"><h4>Initial Setup</h4></a>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mybot-block-wrap">
                <div class="block-status">
                  <h5>Complete</h5>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="block-icon block-icon-install">
                  <a [routerLink]="(['/bot-installation'])"><img src="../assets/images/mybot-block-icon2.png" alt=""></a>
                </div>
                <div class="block-desc">
                  <a [routerLink]="(['/bot-installation'])"><h4>Installation</h4></a>
                  <p></p>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mybot-block-wrap">
                <div class="block-status">
                  <h5>Incomplete</h5>
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </div>
                <div class="block-icon block-icon-knwldge">
                  <a [routerLink]="(['/knowledge-center/setup-ai-questions'])"><img src="../assets/images/mybot-block-icon3.png" alt=""></a>
                </div>
                <div class="block-desc">
                  <a [routerLink]="(['/knowledge-center/setup-ai-questions'])"><h4>Knowledge Center</h4></a>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mybot-block-wrap">
                <div class="block-status">
                  <h5>Incomplete</h5>
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </div>
                <div class="block-icon block-icon-improve">
                  <a [routerLink]="(['/knowledge-center/setup-ai'])"><img src="../assets/images/mybot-block-icon4.png" alt=""></a>
                </div>
                <div class="block-desc">
                  <a [routerLink]="(['/knowledge-center/setup-ai'])"><h4>Improvements</h4></a>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
