<div class="integration-landing-section">
  <div class="container">
    <app-header></app-header>
    <div class="landing-container integration-landing-container">
      <div class="row">
        <div class="col-md-7">
          <div class="landing-content">
            <h1>Proof Plays Friendly</h1>
            <p>Proof seamlessly integrates with dozens of platforms</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="integrations-section">
  <div class="container">
    <div class="integrations-container">
      <h2>All Our Integrations</h2>
      <p>Installing Proof Takes Less than 5 Minutes</p>
      <div class="integrations-wrapper">
        <div class="row">
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo1.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo2.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo3.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo4.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo5.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo6.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo7.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo8.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo9.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo10.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo11.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo12.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo13.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo14.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo15.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo16.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo17.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo18.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo19.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo20.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo21.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo22.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo23.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo24.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo25.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo26.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo27.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo28.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo29.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo30.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo31.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo32.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo33.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo34.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo35.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo36.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo37.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo38.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo39.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo40.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo41.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo42.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo43.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo44.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo45.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo46.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo47.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo48.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo49.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo50.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo51.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo52.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo53.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo54.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo55.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo56.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo57.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo58.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo59.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo60.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo61.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo62.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo63.png" alt="">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="integrations-wrap">
              <img src="../../../assets/images/integration-logo64.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <h2>Don't See Your Favorite App?</h2>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8"><p>Chat with us to ask if we can integrate with your favorite landing page, email, or marketing app! Let us work our magic ;)</p>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <a href="mailto:team@useproof.com" class="blue-btn">Email Us</a>
    </div>
  </div>
</div>

<div class="joinus-section">
  <div class="container">
    <div class="joinus-container">
      <div class="joinus-wrapper">
        <h2>Join the Thousands of Companies Using Proof</h2>
        <p>Signing up is fast, free and easy.</p>
        <a [routerLink]="(['/sign-up'])" class="white-btn">Get Started</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-section">
  <div class="container">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Product</h3>
            <ul>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Signup</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Company</h3>
            <ul>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Resources</h3>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Free Guide</a></li>
              <li><a href="#">Affiliate Program</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Legal</h3>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer-wrap">
            <h3>Headquarters</h3>
            <ul>
              <li><a href="javascript:void(0)">113 Ridgely Ave
                Annapolis, MD 21401</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>